name: 'GitHub Actions LZU Auto COVID Health Report'
    
on:
  workflow_dispatch:  # Allow manual triggers
    inputs:
      delays:
        description: 'Delayed time (Optional) 可选延迟时间'
        required: false
  schedule:
    - cron: '0 23 * 1,2,7,8 *' # Schedule on CST 7 everyday during Jan. Feb. Jul. Aug.

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@main
        - name: 'Set up Python'
          uses: actions/setup-python@main
          with:
            python-version: '3.x'
        - name: 'Install requirements'
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements-run.txt
        - name: Star original repository if GPATOKEN set
          run: |
            curl \
            -X PUT \
            -H 'authorization: token ${{ secrets.GPATOKEN }}' \
            -H "Accept: application/vnd.github.v3+json" \
            $GITHUB_API_URL/user/starred/HollowMan6/LZU-Auto-COVID-Health-Report
        - name: Time wait ${{ github.event.inputs.delays }}
          if: ${{ github.event.inputs.delays != '' }}
          run: sleep ${{ github.event.inputs.delays }}
        - name: 'Auto COVID Health Report'
          env:
            CARDID: ${{ secrets.CARDID }}
            PASSWORD: ${{ secrets.PASSWORD }}
            TZ: Asia/Shanghai
          run: python LZU-Auto-COVID-Health-Report.py >> information.txt && cat information.txt
        - name: 'Error logging and Notifying'
          env:
            SERVERCHANSCKEY: ${{ secrets.SERVERCHANSCKEY }}
            OPENID: ${{ secrets.OPENID }}
            PPTOKEN: ${{ secrets.PPTOKEN }}
            PPTOPIC: ${{ secrets.PPTOPIC }}
            TGBOTTOKEN: ${{ secrets.TGBOTTOKEN }}
            TGCHATID: ${{ secrets.TGCHATID }}
          if: ${{ failure() }}
          run: python Notify-Result.py failure && cat information.txt
        - name: 'Notify Success'
          env:
            SERVERCHANSCKEY: ${{ secrets.SERVERCHANSCKEY }}
            OPENID: ${{ secrets.OPENID }}
            PPTOKEN: ${{ secrets.PPTOKEN }}
            PPTOPIC: ${{ secrets.PPTOPIC }}
            TGBOTTOKEN: ${{ secrets.TGBOTTOKEN }}
            TGCHATID: ${{ secrets.TGCHATID }}
          if: ${{ success() }}
          run: python Notify-Result.py success
        - name: 'Re-run workflow if failed and GPATOKEN set'
          if: ${{ failure() }}
          run: |
            workflow_url=`curl $GITHUB_API_URL/repos/${{ github.repository }}/actions/runs/${{ github.run_id }} | grep workflow_url | cut -d \" -f 4` \
            && curl \
            -X POST \
            -H 'authorization: token ${{ secrets.GPATOKEN }}' \
            -H "Accept: application/vnd.github.v3+json" \
            $workflow_url/dispatches \
            -d '{"ref":"${{ github.ref }}", "inputs": { "delays": "30m" }}'
